@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(../fonts/HhyXU5sn9vOmLzG3L-CLMI4.ttf) format('truetype');
}
