{#<html>#}
{#<head>#}
{#{% for i in ['bootstrap.min.cs', 'carousel1.css', 'carousel2.css', 'carousel3.css'] %}#}
{#        <link {{ url_for('static', 'css/'+{{ i }}) }} rel="stylesheet">#}
{#{% endfor %}#}
{#</head>#}
{#<body>#}
{#<nav class="navbar navbar-expand-sm bg-light">#}
{##}
{#  <!-- Links -->#}
{#  <ul class="navbar-nav">#}
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Link 1</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Link 2</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Link 3</a>#}
{#    </li>#}
{#  </ul>#}
{##}
{#</nav>#}
{#</body>#}
{#</html>#}